ul,
li {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
}

.box {
  width: 600px;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin: 100px auto;
  cursor: pointer;
}

.imag {
  width: 5000px;
  height: 350px;
  position: absolute;
}

.imag > li {
  float: left;
  width: 600px;
  height: 350px;
}

img {
  width: 600px;
  height: 350px;
}

.index {
  position: absolute;
  left: 37%;
  bottom: 10px;
}

.index > li {
  width: 20px;
  height: 20px;
  background: #ccc;
  border-radius: 10px;
  float: left;
  margin-left: 10px;
}
.active {
  background: purple !important;
}

.left {
  background: url(images/left1.png);
  width: 32px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 5px;
}

.right {
  background: url(images/right1.png);
  width: 32px;
  height: 40px;
  position: absolute;
  top: 50%;
  right: 5px;
}